<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">课程介绍</h2>
                    <h3 class="section-subheading text-muted">COURSE INTRODUCTION</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-left">
                    <p class="lead">
                        本课程以帮助学生建立现代计算机系统的完整概念为基本教学目的，
                        以计算机的组成和系统结构的基本概念、工作原理、设计方法为主要
                        课程内容，重点介绍计算机单处理机系统的硬件组成与工作原理，同
                        时介绍当前计算机系统的新技术与发展趋势。课程内容包括：CPU基
                        本知识、组成结构、寄存器、ALU、控制单元、MARIE组成和结构、指
                        令集架构、指令的执行过程、指令集的扩展、指令格式、指令类型、
                        存储器的层次结构、高速缓存、虚拟存储器、分页、分段、附加存储、
                        I/O结构等。
                    </p>
                </div>
                <div class="col-lg-1 divider">
                </div>
                <div class="col-lg-5 text-center">
                    <img class="img-responsive" src="{{site.baseurl}}/img/eniac.jpg" />
                    <h4 class="caption">ENIAC：世界上第一台通用电子计算机</h4>
                </div>
            </div>
        </div>
    </section>
