<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">教学团队</h2>
                    <h3 class="section-subheading text-muted">TEACHING STAFF</h3>
                </div>
            </div>
            <div class="row">
                {% for member in page.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img width="70%" src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4 class="text-left">{{member.position}} {{ member.name }}</h4>
                        <p class="text-muted text-left">{{ member.bio }}</p>
                        <p class="text-left">课序号：{{ member.classid }}</p>
                        <p class="text-left">联系方式：{{ member.email }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
